* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

input,
p {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

body {
  background-color: #ddd;
}
